/* Styles affecting all content */
:root {
  /* declaring colour variables */
  --orange: rgb(250, 183, 0);
  --orangeOpaque: rgb(250, 183, 0, 0.2);
  --light: #faf5e4;
  --lightOpaque: rgba(	250,	245,	228, 0.5);
  --green: #2b786c;
  --dark: #004445;
  --greenOpaque: rgba(43, 120, 108, 0.85)
}
*  {
      /*just for visualisation whilst developing:
      border: 1px solid plum;*/
}

#profileImage2 {
  width: 60%;
  border-radius: 100%;
}

#imageCard1, #imageCard2, #imageCard3, #imageCard4,
#imageCard5 {
  object-fit: cover;
  object-position: 0 20%;
  max-height: 300px;
}